<h1>Welcome to Pressfrwrd.com</h1>
<p>
  this site is being created for the people who like to be creative. For the ones who would love to share and collaborate the workings of their minds to better themselves, their communities, and leave a standing footprint that they have been a part of positive change. Welcome to Pressfrwrd, we look forward to seeing how you'll change the world.
</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>